# https://docs.docker.com/compose/rails/

version: '3.8'

services:
  db:
    image: linuxserver/mariadb:latest
    environment:
      - TZ=America/Argentina/Buenos_Aires
    volumes:
      - db_data:/config
    logging:
      driver: none

  web: &web
    build:
      context: .
      dockerfile: ./docker/development/web/Dockerfile
      args:
        # downgraded because of this
        # https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.13.0#time64_requirements
        RUBY_VERSION: '2.6.6-alpine3.12'
        BUNDLER_VERSION: '2.2.15'
    environment:
      - SECREY_KEY_BASE=9e803c5c2d3f977ca3bd09220f008ca2e076d28bfe4b09427e212bab0c14942ba26ee6
      - RAILS_MASTER_KEY=55104b2c20be7e20f0894f5972e04316
      - EDITOR=vi
      - WEBPACKER_DEV_SERVER_HOST=webpacker
    volumes:
      - .:/usr/local/app:cached
      - gems:/usr/local/bundle
    ports:
      - 3000:3000
    depends_on:
      - db

  webpacker:
    build:
      context: .
      dockerfile: ./docker/development/webpacker/Dockerfile
    ports:
      - 3035:3035
    depends_on:
      - web

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - 80:80
    logging:
      driver: none
    depends_on:
      - db

volumes:
  db_data:
  gems: