version: '3'
services:
  mariadb:
    image: mariadb:10.1
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - mariadb:/var/lib/mysql
    ports:
      - 3306:3306
    logging:
      driver: none
  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - 80:80
    environment:
      - PMA_USER=root
    logging:
      driver: none

  web: &web
    environment:
      - "WEBPACKER_DEV_SERVER_HOST=webpacker"
    build:
      context: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/app
      - ~/.ssh:/root/.ssh
      - gems:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      - mariadb

  webpacker:
    <<: *web
    command: bash -c "rm -rf /app/public/packs; /app/bin/webpack-dev-server --inline true"
    ports:
      - "3035:3035"
    depends_on:
      - mariadb
      - web

volumes:
  mariadb:
  gems:
