name: Docker Image CI

on:
  # push:
  #   branches: [ main ]
  # pull_request:
  #   branches: [ main ]
  # https://stackoverflow.com/questions/59518658/how-to-use-github-release-version-number-in-github-action
  release:
    types: [published]

env:
  IMAGE_NAME: "ghcr.io/${{ github.repository }}"
  VERSION: "${{ github.event.release.tag_name }}"

jobs:

  # https://dev.to/cloudx/multi-arch-docker-images-the-easy-way-with-github-actions-4k54
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to GHCR
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        platforms: |
          linux/amd64
          linux/arm/v7
        file: docker/production/web/Dockerfile
        tags: |
          ${{ env.IMAGE_NAME }}:${{ env.VERSION }}
          ${{ env.IMAGE_NAME }}:latest
        push: true