@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
//$btn-hover-opacity: 0.5;

//@import '~vuetify/src/styles/styles.sass';
// $prov-color: #00b1c7;
// $prov-color-2: #367176;
// $prov-color-light: #a3d8e7;

// $priority-urgent: #FD0019;
// $priority-high:   #FDD900;
// $priority-normal: #00b1c7;
// $priority-low:    #7161EF;

// $gradient-top-urgent:#ff0008;
// $gradient-top-high:  #ffec00;
// $gradient-top-normal:#00b1c7;
// $gradient-top-low:   #593C8F;

// $gradient-bottom-urgent: #f2008b;
// $gradient-bottom-high:   #ff3c00;
// $gradient-bottom-normal: #004a83;
// $gradient-bottom-low:    #7161EF;

// $body-font-family: "Encode Sans", sans-serif !important;

$primary-color: green;
$secondary-color: blue;
$tertiary-color: red;

$primary-font-family: "Lato", sans-serif;
$secondary-font-family: "Bebas Neue", cursive;
